body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1f1f1f;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #2d2d2d;
    padding: 20px;
    border-radius: 15px;
    width: 320px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 28px;
    text-align: right;
    margin-bottom: 15px;
    border: none;
    outline: none;
    padding-right: 10px;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
    color: white;
}

.zero {
    grid-column: span 2;
}